<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">User Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if auth.logged == false %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('get-login') }}">Login</a>
            </li>
            {% endif %}
            {% if auth.logged %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('list') }}">Ver Usuários <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}

        </ul>
        <form class="form-inline my-2 my-lg-0">
            {% if auth.logged %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">{{ auth.me.name }} <span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
            {% if auth.logged %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
        </form>
    </div>
</nav>